node_modules
.nuxt
.output
.data
dist

.git
.gitignore
.github
.env
.env.*
*.log
tests
vitest.config.ts
eslint.config.mjs
.prettierrc
.editorconfig
README.md
LICENSE
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
docs
.vscode
.idea
Dockerfile
docker-compose.yml
.dockerignore